/* {% ignore %}

<div class="flex-container">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>

<style>
  .flex-container {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-end;
  }
</style>

{% endignore %} */
.flex-container {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: flex-end;
}
.img {
  width: 100px;
  height: 100px;
}
